@model IEnumerable<Item>

<div>
    <table class="table table-borderless table-hover rounded box-shadow shadow">
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a id="link" asp-route-id="@item.ID">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @{ await Html.RenderPartialAsync("_DropDownWithButtons", item.ID); }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>