@model IEnumerable<Item>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div id="view-all">
    @* @await Html.PartialAsync("_ViewAll", Model) *@
    @await Html.PartialAsync("_ViewAll", Model)
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}