@model IEnumerable<Item>

@{
    Layout = "_Layout";
}

<div id="view-all">
    @await Html.PartialAsync("Parents", Model)
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}