@model IEnumerable<Item>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h1 class="text-center">
    <i class="fas fa-comments-dollar text-success"></i>
    Items
</h1>

<table class="table table-borderless table-hover rounded box-shadow shadow">
    <thead class="thead-light">
    <tr class="shadow-sm box-shadow">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Items" asp-action="Show" asp-route-id="@item.ID">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @{await Html.RenderPartialAsync("_DropDownWithButtons", item.ID);}
            </td>
        </tr>
    }
    </tbody>
</table>