@model Item

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="Update" asp-route-id="@Model.ID" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID"/>
            @{ await Html.RenderPartialAsync("_UpdateCreateForm"); }
        </form>
    </div>
</div>